{% extends "base.html" %}

{% block title %}Pokemon Information{% endblock %}

{% block header %}
<h1>Pokedex: {{ pokemon.pokemon_name }}</h1>
{% endblock %} 

{% block content %} 
<div class="container bg-light text-center text-dark">
<img src={{ pokemon.pokemon_sprite }} />
<h3>Name: {{pokemon.pokemon_name}}</h3>
<p>Base Experience: {{pokemon.base_experience}}</p>   
<p>Type: {{pokemon.pokemon_type.all|join:", "}}</p> 
<p>Species: {{pokemon.pokemon_species}}</p> 
<p>Height: {{pokemon.pokemon_height}}</p> 
<p>Weight: {{pokemon.pokemon_weight}}</p>
<p>Evolution Chart: </p>

<p><img src={{ evolution.first_p.pokemon_sprite }} />{{evolution.first_p}}</p>
<p><img src={{ evolution.second_p.pokemon_sprite }} />{{evolution.second_p}}</p>
<p><img src={{ evolution.third_p.pokemon_sprite }} />{{evolution.third_p}}</p>
</div>
{% endblock %}