{% extends "base.html" %}


{% block title %}Pokedex{% endblock %}

{% block header %}
<h1 class="center">Pokedex</h1>
{% endblock %} 

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% if user.is_authenticated %}
  <a class="navbar-brand">Hello, {{user.username}}!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pokedex' %}">Pokedex List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create-pokemon' %}">Create Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Create Users</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
    </ul>
  </div>
  {% else %}
  <a class="navbar-brand">Public Guest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pokedex' %}">Pokedex List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      <li class="nav-item">
        {% if error %}
          <p style="color: red;" class="text-center">Please submit a search term.</p>
        {% endif %}
          <form action="/pokedex/list/search/" method="get" class="text-center">
          <input type="text" name="query">
          <input type="submit" value="Search">
          </form>
      </li>
          <form action="/pokedex/list/type-search/" method="get">
            <label for="types">Filter Type</label>
            <select name="types" id="types">
              <option value="shadow">Shadow</option>
              <option value="unknown">Unknown</option>
              <option value="fairy">Fairy</option>
              <option value="dark">Dark</option>
              <option value="dragon">Dragon</option>
              <option value="ice">Ice</option>
              <option value="psychic">Psychic</option>
              <option value="electric">Electric</option>
              <option value="grass">Grass</option>
              <option value="water">Water</option>
              <option value="fire">Fire</option>
              <option value="steel">Steel</option>
              <option value="ghost">Ghost</option>
              <option value="bug">Bug</option>
              <option value="rock">Rock</option>
              <option value="ground">Ground</option>
              <option value="poison">Poison</option>
              <option value="flying">Flying</option>
              <option value="fighting">Fighting</option>
              <option value="normal">Normal</option>
            </select>
            <input type="submit" value="Submit">
          </form>
    </ul>
  </div>
</nav>

<div class = "container text-center">
{% if pokemons %}
<p>Found {{ pokemons|length }} pokemon{{ pokemons|pluralize }}.</p>
{% else %}
<p class="text-center"></p>
{% endif %}
{% if pokemons.exists %}
{% for result in pokemons %}
{{ result }}
{% endfor %}
{% endif %}
</div>

<div class="container d-flex">
    <div class="row">
      <div class="col-sm">
      </div>
     
            {% for pokemon in pokemon_list %}
            <div class="col-l bg-light text-dark">
              <ul class="text-center">    
                <p>
                  <img src={{ pokemon.pokemon_sprite }} />
                  <div class="row">
                  <a href = "{% url 'pokemon-information' pokemon.pk %}">{{pokemon.pokemon_name}}</a>
                  {% if user.is_authenticated %}
                  <div class="col-sm">
                  <a class="btn btn-secondary" href="{% url 'update-pokemon' pokemon.pk %}" role="button">Update</a>
                  <a class="btn btn-danger" href="{% url 'delete-pokemon' pokemon.pk %}" role="button">Delete</a>
                  </div>
                </div>
                  {% endif %}
                </p>
              </ul>
              </div>
            {% endfor %}
            {% endblock %}
      <div class="col-sm bg-danger">
      </div>
    </div>
  </div>

  